<ul class="payment-icons list--inline">
  {%- for type in shop.enabled_payment_types -%}
    <li class="payment-icon">
      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
    </li>
  {%- endfor -%}
</ul>

<style>
  .payment-icons {
  display: flex;
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Centra gli elementi verticalmente */
  gap: 10px; /* Spazio tra i loghi */
  padding: 0;
  list-style: none; /* Rimuove i pallini della lista */
}

.payment-icon {
  display: flex;
  align-items: center;
}

</style>