<ul class="payment-icons list--inline">
  {%- for type in shop.enabled_payment_types -%}
    <li class="payment-icon">
      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
    </li>
  {%- endfor -%}
</ul>

<style>
.payment-icons {
  display: flex;
  flex-wrap: wrap; /* Permette il ritorno a capo */
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Allinea verticalmente */
  padding: 0;
  list-style: none; /* Rimuove i pallini della lista */
}

.payment-icon {
  display: flex;
  align-items: center;
}

.payment-icon svg {
  height: 30px; /* Altezza uniforme */
  width: auto;
}
</style>