/* ----------------------------------------------------
stile per Accordion originale di Dawn - commentato
----------------------------------------------------

.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.5rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 1.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
}

.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}
------------------------------------------*/

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  margin: 0px;
  padding: 1rem 0 1rem 1rem;
  background-color: #faf9f6;
  color: #444;
  cursor: pointer;
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
}

.accordion:not(:first-of-type) {
  border-top: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #f1eee6;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 2rem 2rem;
  background-color: faf9f6;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid #4a4a4a;
}

.panel:last-of-type {
  border-bottom: none;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 1.5rem;
  color: #777;
  float: right;
  margin-right: 2rem;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
